services:
  react-app:
    image: minjejin/coolman-manager-react:${IMAGE_TAG}
    ports:
      - "80:80"
      - "443:443"
    volumes:      
      - ./nginx/certs:/etc/nginx/certs        

  api:
    image: minjejin/coolman-manager-api:${IMAGE_TAG}
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
      - NAVER_CLIENT_ID=${NAVER_CLIENT_ID}
      - NAVER_CLIENT_SECRET=${NAVER_CLIENT_SECRET}      
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION_NAME=${AWS_REGION_NAME}
      - VALID_NAME_LIST=${VALID_NAME_LIST}
      - API_STAGE=prod
      - S3_BUCKET_NAME=coolman-storage            
      - NAVER_REDIRECT_URI=https://coolman-manager.com/callback
      - S3_ENDPOINT_URL=https://kr.object.ncloudstorage.com
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432      

  db:
    image: postgres:15
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./db/init.prod.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"    
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

volumes:
  pg_data:
