@import '../assets/styles/variables.scss';

.signup-frame {
    width: 90%; 
    height: 90%; 
    position: absolute;
    top: 50%; 
    left: 50%;  
    transform: translate(-50%, -50%);
    background-color: white; 
    z-index: 2; 
    display: flex; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}

.signup-container {
    width: 100%;
    padding: clamp(30px, 2vw, 60px); 
}

.signup-header {
    margin-bottom: 20px;

    h2 {    
        margin-top: 20px; 
        margin-bottom: 0; 
    }
}

.login-prompt {
    display: flex;
    justify-content: left;
    align-items: left; 
    gap: 5px; 
}

.login-link {
    text-decoration: underline;
    color: #808080;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;

    &:hover {
        color: #0d5bbf; 
        text-decoration-color: #0d5bbf; 
        text-decoration-thickness: 2px;
    }
}

p {
    font-size: var(--font-medium);
}

.login-frame {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 2;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.login-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

.login-header {
    text-align: left;
    margin-bottom: 40px;
}

.login-info {
    text-align: left; 
    margin-bottom: 40px;

    button {
        width: 30%;
        display: flex;
        font-size: var(--font-medium);
        align-items: center;
        justify-content: center; 
        background-color: #1570EF;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
        height: 50px;
        cursor: pointer;

        &:hover {
            background-color: #0d5bbf;
            color: #ffffff;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            transform: scale(1.05);
            transition: all 0.2s ease-in-out;
        }

        img {
            width: 20px; 
            height: 20px;
        }
    }
}

.signup-link {
    &:hover {
        color: #0d5bbf; 
        text-decoration: underline; 
    }
}

.login-footer {
    text-align: right;
    margin-bottom: 0;
}

.logo-frame {
    width: 40%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
    .logo-sns {
      width: 10%;
      height: auto;
      z-index: 3;
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
    }

    .logo-team {
        width: 250px;
        height: auto;
        z-index: 3;
    
        .mobile-only {
            z-index: 3;
        }
    }
}

.mobile-logo-team {
    display: none;
  
    @media (max-width: 768px) {
      display: block;
      width: 250px;
      height: auto;
      z-index: 3;
      margin: 0 auto;
    }
  }
  

/* 모바일 일때 */
@media (max-width: 768px) {
    .logo-frame {
        display: none;
    }

    .login-frame {
        width: 90%;
        height: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        box-sizing: border-box;
    }

    .login-container {
        width: 100%;
        max-width: none;
        height: auto;
    }
}

/* 데스크탑 일때 */
@media (min-width: 768px) {
    .mobile-logo-team {
      display: none;
    }
  }
