@import '../../../assets/styles/variables.scss';

.match-results {
    background-color: #fff;    
    padding: 10px;  
    border-radius: 2%;  
    margin-bottom: 20px;

    .header-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;                

        h2 {
            margin: 0;
        }
    
        p {
            margin: 10px;
            font-size: 1em;            
            font-weight: bold;
                
            &[data-result="승리"] {                
                color: var(--background-win-color);
            }
        
            &[data-result="패배"] {                
                color: var(--background-lose-color);
            }
        
            &[data-result="무승부"] {                
                color: #666;
            }
        }
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px; 
        margin-top: 20px;

        .card {
            background-color: #fff;
            border-radius: 10px; 
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
            padding: 15px;
            text-align: left; 
            font-size: 1em;
            font-weight: bold;        
            display: flex;
            flex-direction: column; 
    
            span {
                font-size: 0.5em; 
                color: #888;
                margin-bottom: 15px;
            }
    
            p {
                font-size: 1.0em; 
                font-weight: bold;
                margin: 0; 
            }
    
            &:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
            }            
        }

        &.edit {
            grid-template-columns: 1fr;
            @media screen and (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
            }
            
            .card {
                display: flex;
                flex-direction: column;
                padding: 15px;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);        
                font-weight: bold;
                margin-bottom: 10px; 
                align-items: center; 
                justify-content: center;  
                
                &:hover {
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
                }
            
                span {
                    font-size: 0.5em; 
                    color: #888;
                    margin-bottom: 15px;
                }
                           
                .text-input {
                    width: 100%;
                    padding: 8px;
                    font-size: 0.7em;
                    background-color: #f8f8f8;
                    border: none;
                    border-bottom: 2px solid #ccc; 
                    border-radius: 4px;
                    outline: none;
                    transition: all 0.3s ease;
                    text-align: center;      
                    appearance: none; 
                    -webkit-appearance: none;
                    -moz-appearance: none;   
                    font-weight: bold;           
                
                    &:focus {
                        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                        border-color: #007bff;
                    }

                    &.error {
                        border: 2px solid red; /* 테두리 빨간색 */
                        background-color: #ffe6e6;
                    }
                }
        
                .score-input-container {
                    display: flex;
                    align-items: center;                
                    gap: 8px;
            
                    .score-input {
                        flex: 1;
                        width: 100%;
                        min-width: 0;                    
                        padding: 8px;
                        font-size: 0.7em;
                        text-align: center;
                        background-color: #f8f8f8;
                        border: none;
                        border-bottom: 2px solid #ccc;
                        border-radius: 4px; 
                        outline: none;
                        transition: all 0.3s ease;   
                        appearance: none; 
                        font-weight: bold;                
        
                        &:focus {
                            border-color: #007bff; 
                            box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2); 
                        }

                        &.error {
                            border: 2px solid red; /* 테두리 빨간색 */
                            background-color: #ffe6e6;
                        }
                    }
            
                    .colon {                    
                        color: #333;                    
                    }                    
                }
        
                .time-input-container {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    
                    .time-input {
                        flex: 1; 
                        width: 100%;
                        min-width: 0; 
                        padding: 8px;
                        font-size: 0.7em;
                        background-color: #f8f8f8;
                        border: none;
                        border-bottom: 2px solid #ccc;
                        border-radius: 4px;
                        outline: none;
                        transition: all 0.3s ease;
                        font-weight: bold;
        
                        &:focus {
                            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                            border-color: #007bff;
                        }

                        &.error {
                            border: 2px solid red; /* 테두리 빨간색 */
                            background-color: #ffe6e6;
                        }
                    }
                    
                    .tilde {                    
                        color: #666;
                    }
                }

                .react-select-container {
                    width: 100%;
                
                    .custom-select__control {
                      width: 100%;
                      min-height: unset;
                      height: 31px;
                      padding: 8px;                                            
                      font-size: 1.0em;
                      background-color: #f8f8f8;
                      border: none;
                      border-bottom: 2px solid #ccc;
                      border-radius: 4px;                    
                      appearance: none;
                      box-shadow: none;
                      transition: all 0.3s ease;
                      box-sizing: border-box; 
                      font-weight: bold;   
                      display: flex;          
                      align-items: center;    
                      justify-content: center;                     
                
                      &--is-focused {
                        border-color: #007bff;
                        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                      }
                    }
                
                    .custom-select__value-container {
                        height: 100%;
                        padding: 0;
                        display: flex;             
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;                        
       
                    }              
                      
                    .custom-select__single-value {
                      font-size: 0.7em;
                      color: #333;
                    }
                
                    .custom-select__placeholder {
                      font-size: 0.7em;
                      color: #aaa;
                      text-align: center;
                    }
                
                    .custom-select__indicator-separator,
                    .custom-select__dropdown-indicator,
                    .custom-select__clear-indicator {
                      display: none; 
                    }
                
                    .custom-select__menu {
                      display: flex;
                      font-size: 0.7em;                                         
                      align-items: center;       
                      justify-content: center;   
                    }
                
                    .custom-select__option {                      
                      display: flex;  
                      padding: 8px;
                      font-size: 0.7em;
                      text-align: center;                      
                      font-weight: normal;                                   
                      align-items: center;       
                      justify-content: center;   
                
                      &--is-focused {
                        background-color: #eee;
                      }
                
                      &--is-selected {
                        background-color: #007bff;
                        color: white;
                      }
                    }
                                    
                    &.error {
                      .custom-select__control {
                        border: 2px solid red;
                        background-color: #ffe6e6;
                      }
                    }
                  }     
            }                
        }
    }

    
}

.match-details {
    background-color: #fff;    
    padding: 10px;  
    border-radius: 2%; 

    .header-card {
        display: flex;
        flex-direction: column;                
        align-items: flex-start;
        padding: 10px; 

        h2 {
            margin: 0;
            margin-bottom: 20px;
        }

        .tabs {            
            display: flex;
            gap: 10px;            
    
            .tab-button {
                padding: 5px 10px;
                font-size: 0.7em;
                border: 1px solid #ccc;
                border-radius: 5px;
                background-color: #f0f0f0;
                color: #000;
                cursor: pointer;
                transition: all 0.3s ease;
            
                &.active {
                    background-color: var(--background-win-color);
                    color: #fff;
                    border-color: #007bff;
                }
            
                &:hover {
                    background-color: #666;
                }
            }
        }
    }

    .quarter-group {
        margin-bottom: 20px;

        p {
            text-align: center;
        }

        .quarter-header {
            background-color: #f0f0f0;
            padding: 0 5%;        
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            h4 {
                font-size: 18px;
                font-weight: bold;
                color: #333;
            };

            .delete-button {
                background-color: var(--background-lose-color); 
                color: #ffffff;
                border: none;
                border-radius: 4px;
                padding: 5px 10px;
                font-size: 14px;
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.2s ease;
        
                &:hover {
                    background-color: #c0392b;
                }
        
                &:active {
                    background-color: #a93226;
                    transform: scale(0.95);
                }
        
                &:focus {
                    outline: none;
                    box-shadow: 0 0 4px rgba(231, 76, 60, 0.5);
                }
            }
        }

        .goal-list {
            list-style: none;
            padding: 0;
            margin: 0;
    
            .goal-item {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 5px;
                background-color: #fff;
            
                &.goal-left {
                    justify-content: flex-start;                
                }
            
                &.goal-right {
                    justify-content: flex-end;
                }
    
                .goal-score-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    border-radius: 5px;
                    padding: 5px 10px; 
                    margin-right: 10px; 
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    border: 1px solid #333;
    
                    .goal-icon {
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }
        
                    .goal-score {
                        font-size: 0.9em;
                        font-weight: bold;
                        color: #333; 
                    }
                }
    
                .goal-description {
                    display: flex;
                    gap: 5px; 
                    
                    p {
                        margin: 0;
                        font-size: 0.9em;
                        font-weight: bold;
                    }
                
                    .goal-player {
                        font-weight: bold;
                        color: #000;
    
                        &[data-result="득점"] {                
                            color: var(--background-win-color);
                        }
                    
                        &[data-result="실점"],
                        &[data-result="자살골"] {                
                            color: var(--background-lose-color);
                        }
                    }
                
                    .assist-player {
                        font-weight: normal; 
                        color: #555;
                    }
                }
                        
            }

            .add-goal-button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;            
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 4px;
                cursor: pointer;
                font-size: 14px;
                margin: 20px auto 0; 
                transition: background-color 0.3s ease;
                width: 30%;
    
                img {
                    width: 16px;
                    height: 16px;
                }
    
                &:hover {
                    background-color: #2980b9;
                }
            }
            
            &.edit {
                margin-top: 10px;
                padding: 10px;
                border-radius: 5px;    
                border: 1px solid #e0e0e0;

                .goal-item {
                    display: flex; 
                    flex-wrap: wrap; 
                    align-items: center; 
                    justify-content: center;
                    gap: 10px;
                    margin-bottom: 10px;
                    border: 1px solid #e0e0e0;
                    
                    .react-select-container {
                        flex: 1;
                        width: 100%;
                        height: 30px;                        
                        display: flex;
                        align-items: center;
                        justify-content: center; 
                        

                        .custom-select__control {
                            width: 100%;                                                      
                            box-sizing: border-box;
                            font-size: 14px;
                            
                            border-radius: 4px;
                            background-color: #fff;
                            box-shadow: none;
                            min-height: unset;  
                                          
                      
                            &--is-focused {
                              border-color: #007bff;
                              box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                            }
                        }
                  
                        .custom-select__single-value,
                        .custom-select__placeholder {
                            font-size: 14px;                            
                            width : 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }

                        .custom-select__menu {
                            z-index: 99999;
                            font-size: 12px; 
                        }
                        
                        .custom-select__option {
                            font-size: 12px; 
                            text-align: center;
                            padding: 6px;
                        
                        &--is-focused {
                            background-color: #eee;
                        }
                        
                        &--is-selected {
                            background-color: #007bff;
                            color: white;
                        }
                        }
                          
                    
                    }
        
                    input,
                    select {
                        padding: 5px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        font-size: 14px;
                        flex: 1; /* 남는 공간 채우기 */                
                        text-align: center;
                        width: 100%; /* 반응형으로 크기 조절 */

                        &.error {
                            border: 2px solid red; /* 테두리 빨간색 */
                            background-color: #ffe6e6;
                        }
                    }
        
                    input[disabled],
                    select[disabled] {
                        background-color: #f0f0f0; 
                        color: #aaa; 
                        cursor: not-allowed;
                        border: 1px solid #ddd;
                    }
        
                    .delete-goal-button {
                        background-color: #e74c3c; /* 빨간색 배경 */
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
        
                        img {
                            display: block; /* delete-goal-button 내 img 항상 표시 */
                            width: 16px; /* SVG 크기 조정 */
                            height: 16px;
                            filter: invert(1); /* 흰색으로 SVG 색 변경 */
                        }
        
                        &:hover {
                            background-color: #c0392b;
                        }
                    }
        
                    @media screen and (max-width: 768px) {
                        flex-direction: row; 
                        flex-wrap: nowrap;  
                        gap: 5px;          
        
                        input,
                        select {
                            width: 100%; /* 화면 크기에 따라 전체 너비 */
                            max-width: none; /* 최대 너비 제한 제거 */
                        }
        
                        .delete-goal-button {
                            padding: 3px;
                
                            img {
                                width: 14px; /* 모바일에서 SVG 크기 더 줄이기 */
                                height: 14px;
                            }
                        }
        
                        img {
                            display: none;
                        }
        
                        input::placeholder {
                            text-align: center;
                        }
                    }
                }                
            }
        }                
    }

    .lineup-group {

        .quarter-buttons {
            display: flex;
            gap: 10px;
            margin-bottom: 20px;  
            padding: 0 10px;
    
            .quarter-btn {
                padding: 5px 10px;
                font-size: 0.7em;
                border: 1px solid #ccc;
                border-radius: 5px;        
                cursor: pointer;
                font-weight: bold;
            }
    
            .quarter-btn.active {
                background-color: #007bff;
                color: white;
            }
        }
    
        .quarter-tactics {
            display: flex;
            justify-content: center;
            font-size: 1.0em;
            font-weight: bold;

            select {
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1.0em;
                font-weight: bold;                
                text-align: center;
                width: auto; 
                height: auto;     
            }
            
        }

        .soccer-field {
            position: relative;
            width: 100%;
            max-width: 800px;
            aspect-ratio: 735 / 1168;
            margin: 0 auto;
            background-image: url('../../../assets/images/soccer-field.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border: 2px solid #fff;
            border-radius: 10px;
            overflow: visible;
            margin-bottom: 20px;            
        
            .player-marker {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                transform: translate(-50%, -50%);
                text-align: center;   
                width: 20%; 
                min-width: 40px;
                max-width: 70px;    
                z-index: 1;            

                @media screen and (max-width: 768px) {
                    width: 13%; 
                    min-width: 30px; 
                }                
        
                .position-label {                    
                    color: black;
                    font-size: 1.0em;
                    font-weight: bold;
                    margin-bottom: 5px;  
                    z-index: 10;                    

                    @media screen and (max-width: 768px) {
                        font-size: 0.7em;
                    }
                }
        
                .player-circle {                    
                    width: 100%; 
                    aspect-ratio: 1 / 1; 
                    border-radius: 50%;
                    overflow: hidden;
                    background-color: #ccc;
                    border: 0.3vw solid white;
                    background-size: cover;
                    background-position: center;  
                    z-index: 10;                     
                    
                }

                .player-name {
                    color: black;
                    font-size: 1.0em;
                    font-weight: bold;
                    margin-top: 5px;

                    @media screen and (max-width: 768px) {
                        font-size: 0.7em;
                    }
                }

                .selected-user-input {
                    color: black;
                    font-size: 1.0em;
                    font-weight: bold;
                    margin-top: 5px;
                    padding: 0px;
                    text-align: center;  
                    width: 100%;   
                    z-index: 20;          
                    outline: none;                        
                    transition: all 0.3s ease;         

                    @media screen and (max-width: 768px) {
                        font-size: 0.7em;
                    }  
                    
                    &.error {
                        border: 2px solid red; 
                        background-color: #ffe6e6;
                    }

                    &:focus {
                        border-color: #007bff;
                    }
                }
            }

            .dropdown-menu {
                position: absolute;
                display: flex;
                flex-direction: column;
                min-width: 50px;
                max-width: 80px;    
                max-height: 150px;
                width: 28%;                 
                background: white;
                border: 1px solid #ccc;
                border-radius: 4px;
                list-style: none;
                padding: 0px;
                margin: 0px;                
                overflow-y: auto;
                z-index: 99;      
                transform: translate(-50%, -50%); 
                
                @media screen and (max-width: 768px) {
                    width: 20%; 
                    min-width: 30px; 
                }

                .dropdown-item {      
                 
                    padding: 10px 5px;
                    margin: 0px;
                    cursor: pointer;
                    font-size: 0.8em; 
                    text-align: center;                                                   

                    &:hover {
                        background: #f0f0f0;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 0.5em;                                
                    }
                }
            }
        }
    
        .lineup-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
    
            .lineup-section {
                background-color: #f9f9f9;
                border: 1px solid #ddd;
                border-radius: 10px;
                padding: 15px;
    
                .section-title {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                
                .lineup-table {
                    position: relative;
                    width: 100%;
                    border-collapse: collapse;
                    margin-top: 10px;     
                                                        
                    th, td {
                        border: 1px solid #ddd;
                        text-align: center;
                        padding: 8px;
                        font-size: 0.9rem;
                        position: relative; 
                    }
                
                    th {
                        background-color: #f2f2f2; // 헤더 배경색
                        font-weight: bold;
                        color: #333;
                    }
                
                    td {
                        color: #666;
                        position: relative;  
                        
                        .selected-user-input {
                            color: black;
                            font-size: 1.0em;
                            font-weight: bold;                                
                            padding: 2px;
                            text-align: center;
                            width: 90%;
                            outline: none;
                            transition: all 0.3s ease;
                            cursor: pointer;
                            z-index: 90;
            
                            &:focus {
                                border-color: #007bff;
                            }
            
                            &.error {
                                border: 2px solid red;
                                background-color: #ffe6e6;
                            }
                        }

                        .dropdown-menu {
                            position: absolute; 
                            width: 80%;
                            background: white;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            list-style: none;
                            padding: 0px;
                            margin: 0px;
                            max-height: 150px;
                            overflow-y: auto;
                            z-index: 9999;                            
                            left: 50%;
                            transform: translateX(-50%);
                            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);                                

                            .dropdown-item {
                                padding: 5px;
                                cursor: pointer;
                                font-size: 1.0em;
                                text-align: center;
            
                                &:hover {
                                    background: #f0f0f0;
                                }                
                            }
                        }                   
                                        
                        &:nth-child(4) {
                            width: 10%;
                            text-align: center;
                        }

                        .delete-substitute-button {
                            background-color: #e74c3c; 
                            border: none;
                            border-radius: 4px;
                            cursor: pointer;
                            padding: 5px;
                            display: block;
                            align-items: center;
                            justify-content: center;
                            display: block;
                            margin: auto;
            
                            img {
                                display: block;
                                width: 16px; 
                                height: 16px;
                                filter: invert(1); 
                            }
            
                            &:hover {
                                background-color: #c0392b;
                            }

                            @media screen and (max-width: 768px) {
                                padding: 3px;
                        
                                img {
                                    width: 14px; 
                                    height: 14px;
                                }
                            }
                        }
                    }
                
                    .starter {
                        color: #007bff; 
                        font-weight: bold;
                    }
                
                    .substitute {
                        color: #ff5722; 
                        font-weight: bold;
                    }

                    select {                        
                        font-size:  1.2em;
                        font-weight: bold;
                        text-align: center;
                        border: 1px solid #ddd;
                        border-radius: 4px;                        
                        width: 100%;       
                        height: calc(100% - 16px);                                     
                        pointer-events: auto;
                        appearance: none;    
                        padding: 5px;                 
                    
                        &:focus {
                            outline: none;
                            border-color: #007bff;
                            background-color: #f9f9f9;
                        }
    
                        &.error {
                            border: 2px solid red; /* 테두리 빨간색 */
                            background-color: #ffe6e6;
                        }
                        
                        @media screen and (max-width: 768px) {
                            font-size: 1.0em;
                        }
                    }
                 
                
                    @media screen and (max-width: 768px) {
                        th, td {
                            font-size: 0.8rem; 
                            padding: 6px;
                        }
                    }
                
                    @media screen and (max-width: 480px) {
                        th, td {
                            font-size: 0.7rem; 
                            padding: 7px;
                        }
                    }
                }

                .add-substitute-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;            
                    color: #fff;
                    border: none;
                    padding: 10px 20px;
                    border-radius: 4px;
                    cursor: pointer;
                    font-size: 14px;
                    margin: 20px auto 0; 
                    transition: background-color 0.3s ease;
                    width: 30%;
                    margin-bottom: 200px;  
        
                    img {
                        width: 16px;
                        height: 16px;
                    }
        
                    &:hover {
                        background-color: #2980b9;
                    }
                }
                
            }
        }

    }
}

.add-quarter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #f0f0f0; 
    color: #ffffff; 
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px auto 0; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%; 
    margin-bottom: 200px;  

    &:hover {
        background-color: #2980b9; 
    }

    &:active {
        background-color: #1e6e99; 
        transform: scale(0.95); 
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 4px rgba(52, 152, 219, 0.5); 
    }

    img {
        width: 20px;
        height: 20px;
    }
}

.result-error-message {    
    padding: 10px; /* 내부 여백 */
    font-size: 0.5em; /* 폰트 크기 */
    font-weight: bold; /* 굵은 텍스트 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin-top: 20px; /* 메시지 위에 10px 여백 추가 */        
    border-radius: 4px; /* 둥근 모서리 */
}