@import '../../assets/styles/variables.scss';

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        position: relative;

        h3 {
            margin: 0;
            font-size: 1.2rem;
            font-weight: bold;
        }

        p {
            margin: 0;            
            font-size: 0.8rem;
        }

        &:hover {
            transform: translateY(-5px); // 호버 시 위로 이동
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // 호버 시 그림자 강조
            cursor: pointer;
        }

        &:active {
            transform: translateY(0); // 클릭 시 원래 위치로 복귀
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // 클릭 시 그림자 원래대로
        }

        &.editable {
            cursor: pointer;

            &:hover {
                background-color: #f9f9f9;
            }

            .card-checkbox {
                display: block;
            }

            .card-content {
                margin-right: 40px; 
            }
        }

        .card-checkbox {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            display: none; 
            width: 15px;
            height: 15px;
            cursor: pointer;
        }

        .card-content {
            flex: 1;
            display: flex; 
            align-items: center;
            justify-content: flex-start; 
            gap: 15px;                         
            transition: margin-right 0.3s ease; 

            > div {
                flex-shrink: 0;
                overflow: hidden;
                white-space: normal; 
                word-wrap: break-word; 
                word-break: break-word;                                                         
            }


            .flag-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;                
                font-size: 0.9rem;
                width: 50px;   
                border-radius: 5px;                             
                            
                p:first-child {
                    font-size: 0.5rem;
                    margin-bottom: 5px;                    
                }
                            
                p:last-child {
                    text-transform: uppercase; 
                    font-size: 0.7rem;                                     
                    font-weight: bold;
                }
                            
                &[data-result="승리"] {
                    background-color: var(--background-win-color);
                    color: #FFFFFF; 
                }
            
                &[data-result="패배"] {
                    background-color: var(--background-lose-color);
                    color: #FFFFFF;
                }
            
                &[data-result="무승부"] {
                    background-color: #f0f0f0;
                    color: #666; 
                }
            }

            .team-info {
                display: flex;
                flex-direction: row;
                width: 20%;
                text-align: center;

                p {
                    margin: 10px;
                    font-size: 0.7rem;
                }
            }

            .score-info{
                display: flex;
                text-align: center;
                width: 10%;
                gap: 2px;

                p {
                    font-size: 0.7rem;
                    font-weight: normal; 
                }
                
                &[data-result="승리"] p:first-child {
                    color: var(--background-win-color);
                    font-weight: bold;
                }

                &[data-result="패배"] p:last-child {
                    color: var(--background-lose-color);
                    font-weight: bold;
                }
            }

            .location-info{
                display: flex;
                width: 25%;
                gap: 0.7rem;

                img {
                    width: 0.7rem;
                }

                p {                    
                    font-size: 0.7rem;
                }
            }
            
        }

    }
}

.load-more {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}